:root {
  --color-bg: #fff;
  --color-title: #212353;
  --color-text: #4B5D68;
  --color-purple: #9C69E2;
  --color-purple-dark: #7B52B4;
  --color-purple-light: #C59AFF;
  --color-gray: #F8F8F8;
  --color-gray-dark: #E8E8E8;
  --color-gray-darkness: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: linear-gradient(180deg, #EEF8FF 0%, #FFFFFF 19.4%);
}

body,
pre,
input,
button,
textarea {
  font: 600 18px Montserrat, sans-serif;
}