#page-home {
  display: flex;
  min-height: 100vh;
  color: black;
  flex-direction: column;
}

#page-home .page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

#page-home .page-container main{
  width: 100%;
}

#page-home .page-container main .home-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#page-home .page-container main .home-content  .description {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content:space-between;
}

#page-home .page-container main .home-content  .img-home {
  width: 450px
}

#page-home .page-container main .home-content  .description h1 {
  font-size: 80px;
  font-weight: 800;
  color: var(--color-title);
  margin-bottom: 40px;
}

#page-home .page-container main .home-content  .description p {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-text);
  margin-bottom: 40px;
}

#page-home .page-container main .home-content  .description .btn-social {
  position: relative;
  width: 57px;
  height: 57px;
  margin-right: 10px;
  color: #fff;
  background: var(--color-purple);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

#page-home .page-container main .home-content  .description .btn-social:hover {
  background: var(--color-purple-dark);
}

.button {
  width: 250px;
  height: 57px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  background: var(--color-purple);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.button:hover{
  color: #fff;
  background: var(--color-purple-dark);
}

#page-home .page-container main .case-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  #page-home .page-container main .home-content {
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  #page-home .page-container main .home-content .description {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  #page-home .page-container main .home-content .img-home {
    width: 100%
  }
}