#footer {
  width: 100%;
  height: 100%;
  min-height: 400px;
  margin: 64px 0 0 0;
  background: var(--color-gray);
  border-top: 2px #EBE1F9 solid;
  display: flex;
}

#footer .foot-content {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  margin: 0px auto;
  padding: 64px 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

#footer .foot-content .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


#footer .foot-content .info .contact h3{
  color: var(--color-title);
  margin: 0 0 40px 0;
}

#footer .foot-content .info .contact pre{
  font-weight: 400;
  color: var(--color-text);
}

#footer .foot-content .info .link h3{
  color: var(--color-title);
  margin: 0 0 40px 0;
}

#footer .foot-content .info .link li, #footer .foot-content .info .link a{
  color: var(--color-purple-light);
  padding: 0 0 10px 0;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  transition: all 0.2s ease;
}

#footer .foot-content .info .link a:hover{
  color: var(--color-purple-dark);
}

#footer .foot-content .info .social h3{
  color: var(--color-title);
  margin: 0 0 40px 0;
}

#footer .foot-content .info .social .buttons{
  display: flex;
  justify-content: left;
}

#footer .foot-content .info .social .buttons .btn-social {
  width: 57px;
  height: 57px;
  margin-right: 10px;
  color: #fff;
  background: var(--color-gray-darkness);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

#footer .foot-content .info .social .buttons .btn-social:hover {
  background: var(--color-purple);
}

#footer .foot-content .copy {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text);
}

@media only screen and (max-width: 700px) {
  #footer .foot-content {
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
  }

  #footer .foot-content .info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
  }

  #footer .foot-content .info .contact{
    width: 100%;
  }

  #footer .foot-content .info .link{
    width: 100%;
    margin-top: 30px;
  }

  #footer .foot-content .info .social{
    width: 100%;
    margin-top: 30px;
  }

  #footer .foot-content .copy {
    margin: 30px 0;
  }
  
}