
#page-home .page-container main .case-item {
  width: 100%;
  height: 430px;
  margin: 64px 25px 0;
  padding: 0 70px;
  border-radius: 50px;
  background: var(--color-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-home .page-container main .case-item+.case-item{
  margin-bottom:64px;
}

#page-home .page-container main .case-item img{
  width: 50%;
  padding: 0 40px 0 0;
}

#page-home .page-container main .case-item .description{
  width: 50%;
  height: 430px;
  padding: 64px 0;
  display: flex;
  flex-wrap: wrap;
  align-content:space-between;
}

#page-home .page-container main .case-item .description h3{
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  color: var(--color-title);
}

#page-home .page-container main .case-item .description a{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--color-purple-light);
  text-decoration: none;
  transition: all 0.1s ease;
}

#page-home .page-container main .case-item .description a:hover{
  color: var(--color-purple);
}

#page-home .page-container main .case-item .description p{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  margin: 10px 0 0 0;
  color: var(--color-text);
}

#page-home .page-container main .case-item .description .button {
  width: auto;
  height: 57px;
  padding: 0 20px;
  font-weight: 600;
  color: #fff;
  background: var(--color-purple);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

#page-home .page-container main .case-item .description .button:hover{
  color: #fff;
  background: var(--color-purple-dark);
}

@media only screen and (max-width: 900px) {
  #page-home .page-container main .case-item {
    width: 100%;
    height: auto;
    padding: 40px 70px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  #page-home .page-container main .case-item+ .case-item{
    margin: 0 30px 30px 30px;
  }
  
  #page-home .page-container main .case-item img{
    width: 100%;
    height: auto;
    padding: 0;
  }
  
  #page-home .page-container main .case-item .description{
    width: 100%;
    height: auto;
    padding: 40px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
  }

  #page-home .page-container main .case-item .description .button {
    width: 100%;
    height: 57px;
    padding: 0 20px;
    margin: 40px 0 20px 0;
  }
  
}